#dashboard li{
    padding: 20px;
}


#dashboard .dashboard-content button{
    height: 104px;
}

#dashboard ul {
    margin-top: 48px;
}


img.header-img{
    height: 100%;
}

h5.cp{
    line-height: 56px;
    text-align: center;
}
